---
title: "Eleventy Testing"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">My story</h2>
 
  <p>I studied for Software Engineering MAHAT diploma towards ‘Mercaz Beit Yaakov’ seminary.</p>
 
  <p>Today I develop FE in Shefing.</p>

</section>